[submodule "wiki"]
	path = wiki
	url = https://github.com/Estia-advanced-programming/pandora-public.wiki.git
[submodule "source"]
	path = source
	url = https://dhmmasson@github.com/Estia-advanced-programming/pandora-template.git
[submodule "autograding"]
	path = autograding
	url = https://dhmmasson@github.com/Estia-advanced-programming/autograding.git
